/*-----------------------------------------------------------------------------------*/
/*	1.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,textarea {	
	font:inherit;
	resize:none;
	vertical-align: bottom;
}

video {
	max-width: 100%;
	height: auto;
}

iframe,
embed,
object {
	max-width: 100%;
}

* { _noFocusLine: expression(this.hideFocus=true); } /* Removes dotted lines around links */

.clean {
	position:relative;
	display: block;
	clear: both;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	LayOut 
/*-----------------------------------------------------------------------------------*/

html,
body {
  height: 100%;
}

body {
	font-family: Open Sans, 'Nanum Gothic', sans-serif;
	font-size: 15px;
	line-height: 24px;
	background:#fff;
	margin:0;
	padding:0;
	color:#686868;
	font-weight: 300;
}

#wrapper{
	min-height: 100%;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -42px 0;
	/* Pad bottom by footer height */
	padding: 0 0 40px 0;
}

/* header */

#header, #footer {
	background-color: #eeeeee;
	color: #9e9e9e;
}
#header{
	left: 0;
	right: 0;
	z-index: 100;
	position: fixed;
	height: 100px;
	box-shadow: rgba(0,0,0,.26) 0 2px 5px;
	-webkit-box-shadow:rgba(0,0,0,.26) 0 2px 5px;
	-moz-box-shadow:rgba(0,0,0,.26) 0 2px 5px;
}

#header:after {
	content:"";
	display:table;
	clear:both;
}

	#logo{
		float: left;
		margin: 18px 20px 0 20px;
	}

		#logo .ripplebtn img{
			width: 100%;
			height: 100%;
		}

	h1{
		margin: 34px 0 0 10px;
		font-size: 24px;
		font-weight: 600;
		float: left;
	}

/* CardSection */

#cardsection {
	display: block;
	width:100%;
	height:100%;
	padding: 100px 0 0 0;
}

#cardsection:after {
	content:"";
	display:table;
	clear:both;
}

.ripplelink{
	display:block;
	float:left;
	width:50%;
	height:50%;
	font-size: 1.6em;
	font-weight: 600;
	text-align:center;
	color:#fff;
	text-decoration:none;
	position:relative;
	overflow:hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	z-index:0;
}

.cardcontent{
	height: 80%;
}
.cardtitle{
	height: 20%;
	

}
.cardcontent_bg1{
  background:#ff8a80;
}
.cardcontent_bg2{
  background:#ffff8d;
}
.cardcontent_bg3{
  background:#84ffff;
}
.cardcontent_bg4{
  background:#b9f6ca;
}
.cardtitle_bg1{
  background:#ff5252;
  color: #FFF;
}
.cardtitle_bg2{
  background:#ffeb3b;
  color: #000;
}
.cardtitle_bg3{
  background:#03A9F4;
  color: #FFF;
}
.cardtitle_bg4{
  background:#1de9b6;
  color: #000;
}

/* Footer */

#footer{
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 0 0 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	3.	Effect (RippleLink, RippleButton)
/*-----------------------------------------------------------------------------------*/

.ripplelink:hover{
	z-index:1000;
	box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	opacity: 1.0;
}

.ink {
	display: block;
	position: absolute;
	background:rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	  -webkit-transform:scale(0);
	     -moz-transform:scale(0);
	       -o-transform:scale(0);
	          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

.ripplebtn { 
	display: inline-block; 
	width: 60px; 
	height: 60px; 
	background-color: #FFF; 
	color: #9e9e9e; 
	box-shadow: 0 0 5px rgba(0,0,0,0.2); 
	border-radius: 50%; 
	overflow: hidden; 
	transform: translateZ(0); 
	transition: all 0.5s ease; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.ripplebtn:hover { 
	box-shadow: 0 0 10px rgba(0,0,0,0.4); 
}
.ripplebtn:active { 
	transform: scale(1.1,1.1); 
}
.ripplebtn:focus { 
	outline: 0; border:none; color: rgba(0, 0, 0, 0); 
}
.ripplebtn > span { 
	display: block; 
	position: relative; 
	width: 2em; 
	height: 2em; 
	transition: transform 0.5s ease; 
	overflow: hidden; 
	margin: 1em; 
}
.ripplebtn > span > span { 
	display: block; 
	background-color: #9e9e9e; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 2em; 
	height: 2em; 
	transition: all 0.5s ease; 
	border: 1px solid transparent; 
}
.drop { 
	display: block; 
	position: absolute; 
	background: #CCC; 
	border-radius: 100%; 
	transform: scale(0); 
	pointer-events: none; 
	width: 100%; height: 100%; 
}
.drop:before { 
	display: block; 
	position: absolute; 
	content: ""; 
	background-color: #EEE; 
	border-radius: 100%; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	transform: scale(0); 
}
.drop.animate { 
	animation: drop 1s ease-out; 
}
.drop.animate:before { 
	animation: drop2 1s ease-out; 
}

.ripplebtn.leftArrow img{display: none;}
.ripplebtn.leftArrow > span > span { width: 1.8em; height: 0.4em; transform: translate(0.2em,0.8em); }
.ripplebtn.leftArrow > span > span.s2 { transform-origin: 0 100%; width: 1.4em; transform: translate(0,0.6em) rotate(45deg); }
.ripplebtn.leftArrow > span > span.s3 { transform-origin: 0 0; width: 1.4em; transform: translate(0,1em) rotate(-45deg); }
.ripplebtn.play > span { transform: translate(1em,0) scale(1.6,1); }
.ripplebtn.play > span > span { transform: rotate(-45deg) translate(-1em, -1em) scale(1,1); }
/*
html , body { width: 100%; height: 100%; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; font-size: 14px; background-color: #eeeeee; color: #949494; }
* { box-sizing: border-box; }
h1 { font-size: 2.5em; font-weight: 400; }
article { padding: 4em 3em; overflow: hidden; }
p.arrows { text-align: right; margin: 0 0 1em 0; transition: all 0.5s ease; }
p.arrows .btn { margin: 0.2em; }
body.small p.arrows { margin-right: -0.8em; }
body.large p.arrows { margin-right: 0.5em; }
body.xl p.arrows { margin-right: 3.1em; margin-top: 2.4em; }
label { display: block; line-height: 2em; }
label input { width: 1.3em; height: 1.3em; margin: 0 0.5em 0 0; vertical-align: middle; }
fieldset { border: 0; margin: 0 0 2em 0; padding: 1em; background-color: #f7f7f7; box-shadow: 0 0 5px rgba(0,0,0,0.2); overflow: hidden; border-radius: 0.3em; }
fieldset > h3 { font-weight: 500; font-size: 1.2em; background-color: #FFF; margin: -0.824em -0.824em 0.824em -0.824em; padding: 1em; box-shadow: 0 0 3px rgba(0,0,0,0.1); border-radius: 0.3em 0.3em 0 0; }
.row { margin: 0 -1em; }
.col50 { float: left; width: 50%; padding: 0 1em; }
@media screen and (max-width : 600px) {
  .col50 { float: none; width: auto; }
}
header { background-color: #3f51b5; padding: 6em 3em 3em 3em; color: #FFF; box-shadow: 0 0 10px rgba(0,0,0,0.4); position: relative; }
header > h1 { margin: 0; }
header > .btn { position: absolute; bottom: -2em; right: 3em; font-size: 1.5em; box-shadow: 0 0 10px rgba(0,0,0,0.2); }
body.small header > .btn { font-size: 1.2em; right: 3.7em; }
body.large header > .btn { font-size: 1.8em; right: 2.5em; }
body.xl header > .btn { font-size: 3em; right: 1.5em;  }
.btn { display: inline-block; width: 4em; height: 4em; background-color: #FFF; color: #9e9e9e; box-shadow: 0 0 5px rgba(0,0,0,0.2); border-radius: 2em; overflow: hidden; transform: translateZ(0); transition: all 0.5s ease; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.btn:hover { box-shadow: 0 0 10px rgba(0,0,0,0.4); }
.btn:active { transform: scale(1.1,1.1); }
.btn:focus { outline: 0; border:none; color: rgba(0, 0, 0, 0); }
.btn > span { display: block; position: relative; width: 2em; height: 2em; transition: transform 0.5s ease; overflow: hidden; margin: 1em; }
.btn > span > span { display: block; background-color: #9e9e9e; position: absolute; top: 0; left: 0; width: 2em; height: 2em; transition: all 0.5s ease; border: 1px solid transparent; }
header .btn > span > span { background-color: #e91e63; }

.btn.pause > span > span { transform: scale(0.4,1) translate(-1.6em, 0); }
.btn.pause > span > span.s3 { transform: scale(0.4,1) translate(1.6em, 0); }
.btn.stop > span { transform: scale(0.8,0.8); }
.btn.menu > span > span { transform: scale(1,0.2) translate(0,-3em); }
.btn.menu > span > span.s2 { transform: scale(1,0.2) translate(0,0); }
.btn.menu > span > span.s3 { transform: scale(1,0.2) translate(0,3em); }
.btn.close > span  { transform: rotate(45deg); }
.btn.close > span > span , .btn.plus > span > span { transform: scale(1,0.2); }
.btn.close > span > span.s3 , .btn.plus > span > span.s3 { transform: scale(0.2,1); }
.btn.minus > span > span { transform: scale(1,0.2); }
.btn.more > span > span { transform: scale(0.2,0.2) translate(-3em,0); border-radius: 2em; }
.btn.more > span > span.s2 { transform: scale(0.2,0.2) translate(0,0); }
.btn.more > span > span.s3 { transform: scale(0.2,0.2) translate(3em,0); }
.btn.topArrow > span > span { width: 0.4em; height: 1.8em; transform: translate(0.8em,0.2em); }
.btn.topArrow > span > span.s2 { transform-origin: 0 0; height: 1.4em; transform: translate(1em,0) rotate(45deg); }
.btn.topArrow > span > span.s3 { transform-origin: 100% 0; height: 1.4em; transform: translate(0.6em,0) rotate(-45deg); }
.btn.bottomArrow > span > span { width: 0.4em; height: 1.8em; transform: translate(0.8em,0); }
.btn.bottomArrow > span > span.s2 { transform-origin: 100% 100%; height: 1.4em; transform: translate(0.6em,0.6em) rotate(45deg); }
.btn.bottomArrow > span > span.s3 { transform-origin: 0 100%; height: 1.4em; transform: translate(1em,0.6em) rotate(-45deg); }
.btn.rightArrow > span > span { width: 1.8em; height: 0.4em; transform: translate(0,0.8em); }
.btn.rightArrow > span > span.s2 { transform-origin: 100% 0; width: 1.4em; transform: translate(0.6em,1em) rotate(45deg); }
.btn.rightArrow > span > span.s3 { transform-origin: 100% 100%; width: 1.4em; transform: translate(0.6em,0.6em) rotate(-45deg); }
.btn.leftArrow > span > span { width: 1.8em; height: 0.4em; transform: translate(0.2em,0.8em); }
.btn.leftArrow > span > span.s2 { transform-origin: 0 100%; width: 1.4em; transform: translate(0,0.6em) rotate(45deg); }
.btn.leftArrow > span > span.s3 { transform-origin: 0 0; width: 1.4em; transform: translate(0,1em) rotate(-45deg); }
.btn.checked > span > span { width: 1em; height: 0.4em; transform-origin: 100% 100%; transform: translate(-0.3em,1.4em) rotate(45deg); }
.btn.checked > span > span.s3 { width: 1.8em; transform-origin: 0 100%; transform: translate(0.7em,1.4em) rotate(-45deg); }
.btn.heart > span > span { width: 1em; height: 1.7em; top: 0.2em; left: 1em; transform-origin: 0 100%; transform: rotate(-45deg); border-radius: 1em 1em 0 0; }
.btn.heart > span > span.s3 { transform-origin: 100% 100%; left: 0em; transform: rotate(45deg); }
header.grey .btn span span { background-color: #9e9e9e; }
header.indigo .btn span span { background-color: #3f51b5; }
header.cyan .btn span span { background-color: #00bcd4; }
header.lightGreen .btn span span { background-color: #8bc34a; }
header.amber .btn span span { background-color: #ffc107; }

@keyframes drop {
  100% { opacity: 0; transform: scale(2.5); }
}
@keyframes drop2 {
  30% { opacity: 1; transform: scale(0); }
  100% { opacity: 0; transform: scale(2.5); }
}*/