<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="blog" infinite-scroll='tumblr.nextPage()' infinite-scroll-disabled='tumblr.busy' infinite-scroll-distance='0'>
                <div class="panel" ng-repeat='item in tumblr.items'>
                    <div class="panel-heading">
                      <h3><i class="fa fa-rss-square"></i><a href="{{item.post_url}}" target="_blank"> {{item.title}}</a></h3>
                    </div>
                    <div class="panel-body" ng-bind-html="item.body"></div>
                </div>
                <div class="loading" ng-show='tumblr.busy'><img src="images/loading.gif"></div>
            </div>
        </div>
    </div>
</div>