<div class="container">
    <div class="row">
        <button style="margin-right: 10px;" type="button" class="btn btn-default navbar-btn" ng-click="newPortfolio()">새로운 포트폴리오 추가</button>
        <div class="panel" ng-repeat="portfolio in portfolioList | orderBy:'portfolioNumber':reverse=true">
            <div class="panel-heading">
                <h3 ng-if="portfolio.portfolioUrl == null"><i class="fa fa-file-code-o"></i> {{portfolio.portfolioName}}</h3>
                <h3 ng-if="portfolio.portfolioUrl != null"><i class="fa fa-file-code-o"></i> <a href="{{portfolio.portfolioUrl}}" target="_blank">{{portfolio.portfolioName}}</a></h3>
            </div>
            <div class="panel-body">
                <ul>
                <li class="portfolio_img"><img ng-src="images/portfolio/{{portfolio.portfolioImgName}}.jpg"></li>
                <li><span class="portfolio_title">제작스팩 : </span>{{portfolio.portfolioSpec}}</li>
                <li><span class="portfolio_title">작업내용 : </span>{{portfolio.portfolioWork}}</li>
                <li><span class="portfolio_title">상세내용 : </span>{{portfolio.portfolioDetail}}</li>
                <li><span class="portfolio_title">참여율 : </span>{{portfolio.portfolioPercent}}</li>
                <li ng-if="portfolio.portfolioDesc != null"><span class="portfolio_title">특이사항 : </span>{{portfolio.portfolioDesc}}</li>
                </ul>
            </div>
        </div>
        <div class="loading_portfolio"><img src="images/loading.gif"></div>
    </div>
</div>
        <!-- 
        <div class="panel" ng-repeat="portfolio in portfolioList">
            <div class="panel-heading">
                <h3 class=""><i class="fa fa-file-code-o"></i> {{$index+1}}. {{portfolio.name}}</h3>
            </div>
            <div class="panel-body">
                <ul>
                <li class="portfolio_img" ng-bind-html="portfolio.thumb"></li>
                <li><span class="portfolio_title">제작스팩 : </span>{{portfolio.spec}}</li>
                <li><span class="portfolio_title">작업내용 : </span>{{portfolio.work}}</li>
                <li><span class="portfolio_title">상세내용 : </span>{{portfolio.detail}}</li>
                <li><span class="portfolio_title">참여율 : </span>{{portfolio.percent}}</li>
                </ul>
            </div>
        </div>
         -->
        <!--
        <div class="panel">
            <div class="panel-heading"> 
                <h3 class=""><i class="fa fa-file-code-o"></i> 9.바이오더마 - 포토더마블</h3>
            </div>
            <div class="panel-body">
                <ul>
                <li></li>
                <li><span class="portfolio_title">제작스팩 : </span> HTML5 / CSS3 / Javascript / jQuery / Asp</li>
                <li><span class="portfolio_title">작업내용 : </span>이벤트 게임 모바일 웹앱개발</li>
                <li><span class="portfolio_title">상세내용 : </span>모바일웹 페이스북 이벤트 게임 콘텐츠 개발, 가로화면 전용으로 한화면에서 꽉찬 레이아웃으로 구성. 룰렛을 돌려 이동하는 마블게임.</li>
                <li><span class="portfolio_title">참여율 : </span>2인 공동작업(마크업 / UX / 스크립트)</li>
                </ul>
            </div>
        </div>      
        <div class="panel">
            <div class="panel-heading"> 
                <h3 class=""><i class="fa fa-file-code-o"></i> 8.바이오더마 - 포토덤</h3>
            </div>
            <div class="panel-body">
                <ul>
                <li></li>
                <li><span class="portfolio_title">제작스팩 : </span> HTML / CSS / Javascript / jQuery / Asp</li>
                <li><span class="portfolio_title">작업내용 : </span>사이트 및 이벤트 제작</li>
                <li><span class="portfolio_title">상세내용 : </span>바이오더마 포토덤 브렌드 사이트 제작</li>
                <li><span class="portfolio_title">참여율 : </span>프론트앤드 100%</li>
                </ul>
            </div>
        </div>      
        <div class="panel">
            <div class="panel-heading"> 
                <h3 class=""><i class="fa fa-file-code-o"></i> 7.유니세프 앱 - 후원다이어리</h3>
            </div>
            <div class="panel-body">
                <ul>
                <li></li>
                <li><span class="portfolio_title">제작스팩 : </span> HTML5 / CSS3 / Javascript / jQuery / Asp / 안드로이드 / iOS</li>
                <li><span class="portfolio_title">작업내용 : </span>모바일웹 다이어리 콘텐츠 개발</li>
                <li><span class="portfolio_title">상세내용 : </span>슬라이딩 동작과 Ajax로 후원다이어리 콘텐츠 </li>
                <li><span class="portfolio_title">참여율 : </span>2인 공동 개발(마크업 / 스크립트 / UX)</li>
                </ul>
            </div>
        </div>      
        <div class="panel">
            <div class="panel-heading"> 
                <h3 class=""><i class="fa fa-file-code-o"></i> 6.유니세프 하이브리드앱</h3>
            </div>
            <div class="panel-body">
                <ul>
                <li></li>
                <li><span class="portfolio_title">제작스팩 : </span> HTML5 / CSS3 / Javascript / jQuery / Asp / 안드로이드 / iOS</li>
                <li><span class="portfolio_title">작업내용 : </span>웹단 퍼블리싱 / UX 개발</li>
                <li><span class="portfolio_title">상세내용 : </span>안드로이드와 iOS 하이브리드 앱에서 웹단 퍼블리싱 작업과 UX 개발</li>
                <li><span class="portfolio_title">참여율 : </span>프론트앤드 100%</li>
