<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <ul class="timeline">
            <li>
                <div class="timeline-badge success"><i class="fa fa-heart"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">최근 관심있는 분야.</h4>
                        <!-- <p><small class="text-muted"><i class="fa fa-thumbs-o-up"></i> 11 hours ago via Twitter</small></p> -->
                    </div>
                    <div class="timeline-body">
                        <p>지금 포트폴리오 사이트에 기반인 AngularJS에 대해서 계속 공부중이고, 다양한 자바스크립트 프레임워크(backboneJS, emberJS, Polymer)에 대해서 공부중입니다. Polymer는 구글에서 meteral design과 함께 진행하는 프로젝트로 문서를 번역하여 공유하고 스터디 중입니다.(<a href="http://witinweb.tumblr.com/post/96408472617/polymer" target="_blank">폴리머 번역 프로젝트</a>) CSS Preprocess 인 SASS도 프로젝트에 적용가능하게 작업중입니다.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-fighter-jet"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4 class="timeline-title">하루가 다르게 변화하는 웹</h4>
                    </div>
                    <div class="timeline-body">
                    <p>웹은 변화하고 발전하고 있는 속도는 혼자 따라가기 힘듭니다. 웹에 관심이 있는 사람들과 커뮤니티를 통해서 최신 기술, 트렌드의 공유와 스터디를 진행하고 있습니다. 제가 참여하고 있는 커뮤니티는 위트인웹과 웹동네, 생활코딩 등 입니다.</p> 
                    <p><a href="http://witinweb.com" target="_blank">위트인웹(WitInWeb)</a>은 웹 생태계에서 각기 다른 분야의 4명이 모여서 만든 놀이터 입니다. 자기개발과 정보공유를 통해서 각자의 업무에 활력소가 되고 있습니다. </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="fa fa-building"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4 class="timeline-title">웹에이전시에서의 근무</h4>
                    </div>
                    <div class="timeline-body">
                        <p>웹에이전시에서 프론트앤드 개발 및 퍼블리셔로 근무했습니다. 하이브리드앱, 모바일웹, 반응형웹, 웹앱 등 다양한 종류의 웹을 경험하였습니다. 퍼블리싱과 UX개발을 주업무로 하였습니다.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge info"><i class="fa fa-flag"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">프론트앤드 개발자로의 첫발</h4>
                        </div>
                    <div class="timeline-body">
                        <p>하루에 대부분을 웹기술을 배우고 테스트 하면서 보냈습니다. 5개월간 웹퍼블리셔 수업과정을 통해서 웹표준(xhtml), css를 배우고 html5, css3 기술과 javascript, jquery 를 이용하여 웹 컨텐츠를 개발 기획 제작에 대해서 체계적으로 작업하게 되었습니다. 프리랜서로 (주)블랙에너지, (주)보성통신기술 웹사이트를 제작하였습니다. </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"><i class="fa fa-eye"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">다시 웹의 매력에 빠지다.</h4>
                    </div>
                    <div class="timeline-body">
                        <p>HTML5 / CSS3 / Javascript 기술이 활발이 개발되고 있었고 다양한 브라우저가 생기고 스마트폰으로 모바일 웹이 나타나기 시작했습니다. 대학교에서 고급프로그래밍, 모바일컴퓨팅, 네트워크 프로그래밍 등의 수업을 통해 웹의 매력에 빠지게 되었습니다. 모바일컴퓨팅 프로젝트로는 [이미지 퍼즐 (HTML5 기반)]을 제작하고 졸업논문으로는 [반응형 웹 사이트의 필요성과 웹 사이트 구축]에 대하여 썼습니다.</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-files-o"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="#">[프로젝트]Image Puzzel</a></li>
                        <li class="divider"></li>
                        <li><a href="#">[논문]반응형 웹 사이트의 필요성과 웹 사이트 구축</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="fa fa-step-backward"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">웹과의 첫만남</h4>
                    </div>
                    <div class="timeline-body">
                        <p>1998년 중학교 2학년 때 처음으로 웹사이트를 제작하고 운영했습니다. 홈페이지 만들기라는 책과 나모웹에디터라는 툴을 가지고 그때 당시 좋아했던 음악이 힙합과 랩이였는데 뮤지선 소개와 PC통신에서 구한 미발표 음원등을 공유하고 게시판을 통해 커뮤니티를 형성했었습니다. 약 3년동안 운영했었고, 꿈은 웹마스터 였습니다.</p>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>